@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Plus Jakarta Sans', 'Poppins', Arial, Helvetica, sans-serif;
}

.puerto-header {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, rgba(0,194,255,1) 30%, rgba(255,223,55,1) 70%);
}

.custom-shape-divider-bottom-1685939409 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1685939409 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 198px;
}

.custom-shape-divider-bottom-1685939409 .shape-fill {
    fill: #FFFFFF;
}